body {
    background-color: #f5f5f5; 
    
}


.topnav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #C8C3BD;
}

#top_nav{
    /*
    background-color:#E0E0E0;
    
    background-color: #C8C3BD;
    */
}

#container {
    padding-top: 50px;
    
}

.topnav li {
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
}

.topnav li:hover {
    background-color: #d7ccc8;
    color: #424242;
}

.a_project{
    position: relative;
    /*height: 500px;*/
    margin: 50px;
    display: block;
}

.title_description{
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
}

.projectTitle{
    padding-bottom: 10px;
    text-align: left;
    font-family: 'Permanent Marker', cursive;
    font-size: 24pt;
    color: #1F1F1F;
}

.projectDescription{
    text-align: left;
    font-family: 'Nunito', sans-serif;
    color: #4A4A4A;
    font-weight: 200;
    line-height: 24px;
    font-size: 11pt;
}

.sectionTitle{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    font-weight: lighter;
    color: darkslategray;
}

.sectionSubtitle{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: darkslategray;
}

.paragraph{
    position: relative;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    color: darkslategray;
}

.caption{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
    font-weight: lighter;
    color: slategray;
}

.cover img{
    position: relative;
    max-width: 100%;
    height: auto;
    /*clip: rect(0px,2630px,500px,0px);*/
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.cropped{
    object-fit: cover;

}

.hide{
    display: none;
}

.projectHTML {
    background-color: white;
    padding: 26px;
}

.a_project:hover .cover img{
    opacity: 0.2;
}
.a_project:hover .title_description{
    opacity: 1;
}


.responsive{
    /*max-width: 100%;
}
*/
}

.visible{

}

/*
@media only screen and (max-width: 700px){
   .projectTitle{
    font-size:22px;
    }
    .projectDescription{
    font-size:0px;
    }
}

@media only screen and (max-width: 500px){
    .responsive .cover img{
        object-fit: cover;
        min-height: 150px;
    }
    .projectTitle{
    font-size:16px;
    }
}
*/